#news {
	margin: 0px auto;
    padding: 10px 0px;
}

#news h3.section-title {
	display: grid;
	grid-template-columns: 30px auto 35px;
	align-items: center;
}

#news h3.section-title .material-icons {
	position: relative;
    top: 3px;
    margin-right: 5px;
}

#news h3.section-title > .put-to-right {
	cursor: pointer;
}

.orange-border-bottom {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--orange);
}

.loading {
    display: flex;
    width: 100%;
    justify-content: center;

    .svg-inline--fa {
        color: var(--orange)
    }
}


.lds-facebook > div {
    border-radius: 15px;
}

.more-section {
    border: 2px solid var(--orange);
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0px 1px 2px var(--orange);
}

.more-section > button {
    display: block;
    width: 100%;
    background:
    transparent;
    cursor: pointer;
	color: var(--orange);
    line-height: 32px;
    border: none;
}

.more-section > button > .material-icons {
    position: relative;
    top: 6px;
}

article > header {
    margin: 0;
}

.lists {
	display: grid;
	grid-template-columns: 1fr;
}

.lists .news {
	display: grid;
	grid-template-columns: 320px auto;
	height: 180px;
	margin: 10px 0 0;
	box-shadow: 0px 1px 3px var(--light);
	border-radius: 3px;
}

.lists .news-image {
	margin: 0;
    max-height: 180px;
    position: relative;
}

.lists .news-image img {
    height: 180px;
    object-fit: cover;
    object-position: center;
    width: 320px;
}

.lists .news-title > a,
.lists .news-title > a:focus,
.lists .news-title > a:visited {
	font-size: calc(0.5em + 0.5vw);
    color: var(--primary);
    transition: all .2s linear;
}

.lists .news-title > a:hover {
    color: var(--orange);
}

.lists .news-details {
    font-weight: 500;
    color: var(--dark);
}

.lists .news-header-box {
	padding: 10px 15px 10px 10px;
}

.lists .news-header-box .material-icons {
    position: relative;
    top: 7px;
}

.card {
    border: none;
    box-shadow: 0 2px 3px var(--gray);
}

.card-img-top {
    overflow: hidden;
    position: relative;
    max-height: 200px;
    margin: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.card-category {
    margin-bottom: 7px;

    > a {
        color: var(--white);
        font-weight: 500;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        background: var(--light-orange);
        padding: 3px 8px;
        border-radius: 15px;
        box-shadow: none;
        border-bottom-left-radius: 0px;
        text-shadow: none;
    }

    > a:hover {
        box-shadow: 1px 2px 3px var(--gray);
    }
}

.card-title {
    margin: 10px 0;
    font-size: 20px;

    > a {
        color: var(--primary);
        transition: all .2s linear;
    }
    > a:hover {
        color: var(--orange);
    }
}

.card-subtitle {
    color: var(--gray);
    font-weight: 500;
}

.card-text {
    font-weight: 500;
}

.card-author > a {
    color: var(--dark);
    transition: all .2s linear;
}

.card-author > a:hover {
    color: var(--orange);
}

@media (max-width: 992px) {
	#news h3.section-title > .put-to-right {
		display: none;
	}
}
