.loading-kawaii {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > .kawaii-img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;

        > img {
            width: 300px;
            height: auto;
        }
    }
}

.texts-loading {
	width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
    background-color: rgba(255,255,255,0.85);
    position: absolute;
    bottom: 0;
}


@media (min-width: 320px) and (max-width: 992px) {
	.texts-loading {
		bottom: 120px
	}
}
