.ecma-navigation {
    position: relative;
    top: 60px;
}

.nav-tabs .nav-item {
    min-width: 170px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--orange);
    background-color: var(--white);
    border-color: var(--white) var(--white) var(--orange);
    border-width: 0px 0px 4px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: var(--orange);
    border-color: var(--white) var(--white) var(--orange);
    border-width: 0px 0px 4px;
}

.nav-tabs .nav-link, .nav-tabs .nav-link {
    color: var(--dark);
    border-color: var(--white) var(--white);
    border-width: 0px 0px 4px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav-tabs .nav-item {
        min-width: 140px;
    }
}
