#recentPost {
    margin: 0px auto;
    padding: 20px 0px;

    > h2 {
        /*text-transform: uppercase;*/
        font-weight: normal;
    }
}

.box {
    color: white;
    font-size: 14px;
    overflow: hidden;
    background-color: var(--background);
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.box__item {
    position: relative;
    display: flex;
    height: 100%;
}

.item__image {
    display: grid;
    justify-content: center;
    align-content: center;
    max-height: 380px;
    min-height: 250px;
}

.recentPost .box {
    figure img {
        width: 100%;
        transform: scale(1) rotate(0deg);
        transition: all .5s ease-out;
        min-width: 720px;
    }

    &:hover figure img {
        transform: scale(1.1) rotate(-1.5deg);
    }
}

.item__info {
    padding: 15px 15px;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

.recentPost .box {
    .item__info {
        padding: 20px 30px;

        &.bottom-attach {
        bottom: 0;
        }
    }

    .info__news-category, .info__news-title {
        color: $white;
    }

    .info__news-title a {
        font-weight: 500;
        line-height: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .info__news-category {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;

        > a {
            color: var(--white);
            font-weight: 500;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: var(--light-orange);
            padding: 3px 8px;
            border-radius: 15px;
            box-shadow: none;
            border-bottom-left-radius: 0px;
            text-shadow: none;
        }
        > a:hover {
            box-shadow: 1px 2px 3px var(--gray);
        }
    }

    h2.info__news-title {
        font-size: 25px;
        font-weight: 500;
    }

    h2.info__news-title > a {
        color: $white;
        transition: all .2s linear;
    }

    h2.info__news-title > a:hover {
        color: $white;
    }

    h4.info__news-sub-title {
        font-weight: 500;
        color: $white;
        font-size: 18px;
    }

    .item__info {
        p {
            margin-bottom: 0;
            color: $white;
            font-weight: 500;

            .info__person {
                margin-right: 10px;

                > a {
                    color: $white;
                    transition: all .2s linear;
                }
                > a:hover {
                    color: $white;
                }
            }
        }

        .material-icons {
        position: relative;
        top: 5px;
        margin-right: 5px;
        }
    }

    &:nth-child(3) .item__info {
        color: $dark;
        background-color: $white;
    }
}

.box:nth-child(3) .info__news-category {
    text-shadow: none;
    font-weight: 500;
    margin-bottom: 5px;

    > a {
        color: $white;
        transition: all .2s linear;
    }
    > a:hover {
        color: $white;
    }
}

.recentPost .box:nth-child(3) {
    h2.info__news-title, h4.info__news-sub-title {
        /*margin: 0;*/
        color: $primary;
        text-shadow: none;
    }

    h2.info__news-title > a {
        color: $primary;
        font-weight: 500;
        transition: all .2s linear;
        text-shadow: none;
    }

    h2.info__news-title > a:hover {
        color: $orange;
    }

    .item__info p {
        margin-top: 5px;
        color: $dark;
        text-shadow: none;

        .info__person {
                margin-right: 10px;

                > a {
                    color: $dark;
                    transition: all .2s linear;
                }
                > a:hover {
                    color: $orange;
                }
            }
    }
}

@media (min-width: 992px) {
    .recentPost {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;

        > .box {
        min-height: 400px;
        }

        .box {
        &:nth-child(1) {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }

        &:nth-child(2) {
            grid-column: 4 / 6;
            grid-row: 1 / 2;
        }

        &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        &:nth-child(4) {
            grid-column: 3 / 6;
            grid-row: 2 / 3;
        }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .navbar__list li {
        padding: 0 2rem;
    }

    .recentPost {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(300px, 400px));

        .box {
        &:nth-child(1), &:nth-child(3) {
            grid-column: 1 / 2;
        }

        &:nth-child(1) {
            grid-row: 1 / 2;
        }

        &:nth-child(2) {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        &:nth-child(4) {
            grid-column: 2 / 3;
        }

        &:nth-child(3), &:nth-child(4) {
            grid-row: 2 / 3;
        }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .recentPost .box {
        .info__news-title a {
        font-size: 18px;
        color: $white;
        }

        .info__news-category {
        font-size: 14px;
        color: $white;
        font-weight: bold;
        }

        .item__info {
        padding: 10px;
        }

        &:first-child {
        margin-top: 10px;
        }

        margin-bottom: 10px;

        &:nth-child(3) {
        .item__info {
            color: $white;
            background: transparent;
        }

        h2.info__news-title, .info__news-title a, h4.info__news-sub-title, .item__info p {
            color: $white;
        }
        }
    }

    #resentPost {
        margin: 0px auto;
        width: 100%;
        padding: 0px 0px;
        max-width: 1336px;

        h3.section-title {
        display: none;
        }
    }
}
